<div class="">
  <div style="height:100vh;">
    <div class="">
      <div class="shadow w-20 p-5 position-absolute top-50 start-50 translate-middle">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
          <h4 class="display-6 text-center py-2">College Database</h4>
          
          <div class="">
            <label for="name">College Name</label>
            <div class="">
              <input id="name" required #name="ngModel" ngModel name="name" type="text"
                class="form-control" placeholder="Enter college name">
              <div *ngIf="name.invalid && name.touched">
                <small class="text-danger" *ngIf="name.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="address">Address</label>
            <div class="">
              <input id="address" required #address="ngModel" ngModel name="address" type="text"
                class="form-control" placeholder="Enter address">
              <div *ngIf="address.invalid && address.touched">
                <small class="text-danger" *ngIf="address.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
          
          <div class="">
            <label for="city">City</label>
            <div class="">
              <input id="city" required #city="ngModel" ngModel name="city" type="text"
                class="form-control" placeholder="Enter city">
              <div *ngIf="city.invalid && city.touched">
                <small class="text-danger" *ngIf="city.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>

          <div class="">
            <label for="state">State</label>
            <div class="">
              <input id="state" required #state="ngModel" ngModel name="state" type="text"
                class="form-control" placeholder="Enter state">
              <div *ngIf="state.invalid && state.touched">
                <small class="text-danger" *ngIf="state.errors?.['required']">Required</small>
              </div>
            </div>
          </div><br>
  
          <div class="form-group text-center">
            <input class="btn btn-primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div><br>

  <div class="mt-5">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>College Name</th>
          <th>Address</th>
          <th>City</th>
          <th>State</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let college of collegeDetails">
          <td>{{college.id}}</td>
          <td>{{college.name}}</td>
          <td>{{college.address}}</td>
          <td>{{college.city}}</td>
          <td>{{college.state}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(college)">Edit</button></td>
          <td><button type="button" class="btn btn-danger" (click)="deleteCollege(college)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Update College</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form #updateForm="ngForm" (ngSubmit)="updateCollege()">
            <h4 class="display-6 text-center py-2">Update College</h4>
            
            <div class="">
              <label for="name">College Name</label>
              <div class="">
                <input id="name" required #name="ngModel" [(ngModel)]="collegeToUpdate.name" name="name" type="text"
                  class="form-control" placeholder="Enter college name">
                <div *ngIf="name.invalid && name.touched">
                  <small class="text-danger" *ngIf="name.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="address">Address</label>
              <div class="">
                <input id="address" required #address="ngModel" [(ngModel)]="collegeToUpdate.address" name="address" type="text"
                  class="form-control" placeholder="Enter address">
                <div *ngIf="address.invalid && address.touched">
                  <small class="text-danger" *ngIf="address.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
            
            <div class="">
              <label for="city">City</label>
              <div class="">
                <input id="city" required #city="ngModel" [(ngModel)]="collegeToUpdate.city" name="city" type="text"
                  class="form-control" placeholder="Enter city">
                <div *ngIf="city.invalid && city.touched">
                  <small class="text-danger" *ngIf="city.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
  
            <div class="">
              <label for="state">State</label>
              <div class="">
                <input id="state" required #state="ngModel" [(ngModel)]="collegeToUpdate.state" name="state" type="text"
                  class="form-control" placeholder="Enter state">
                <div *ngIf="state.invalid && state.touched">
                  <small class="text-danger" *ngIf="state.errors?.['required']">Required</small>
                </div>
              </div>
            </div><br>
       
            <div class="form-group text-center">
              <input class="btn btn-primary" type="submit" value="Update">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
